@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
    --body-color: #f5f1ff;
    --main-color: #8F59FA;
    --emphasis-color: #9FFEBB;
    --error-color: #E71C1C;

    --nav-active-link-hover: #6017f2;;

    --ff-main: 'Inter', Arial, sans-serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;

    --btn-main-color: #7fffa5;
    --btn-main-hover-color: #93feb3;
    --bg-feather-opacity: 10%;

    --input-border-color: #D7C0FF;

    --nav-height-fix: 100px;

    --value-card-padding: 1.5em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
body {
    background-color: var(--body-color);
    font-family: var(--ff-main);
}

h1 {
    font-size: 2em;
    font-weight: var(--fw-bold);
}

p {
    font-size: clamp(0.8rem, 0.7636rem + 0.1818vw, 0.9rem);
    font-weight: var(--fw-regular);
    line-height: 1.8;
}

em {
    font-weight: var(--fw-semibold);
    font-style: normal;
}

a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: var(--fw-regular);
}

a:hover {
    color: var(--nav-active-link-hover);
}

a:focus-visible {
    outline: .1em solid var(--input-border-color);
    border-radius: .1em;
}

.btn {
    font-size: clamp(0.8rem, 0.7455rem + 0.2727vw, 0.95rem);
    border-radius: .625rem;
    padding: 1em;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    transition: 
    outline 250ms ease,
    border-radius 250ms ease;
}

.btn.btn:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px var(--input-border-color);
}

.btn-main,
.btn-main:visited {
    background-color: var(--btn-main-color);
    color: #202020;
    border: none;
    font-weight: var(--fw-semibold);
}

.btn-main:hover {
    background-color: var(--btn-main-hover-color);
    box-shadow: 0 0 0 1px var(--input-border-color);
    color: #101010;
}

.btn-secondary,
.btn-secondary:visited {
    background-color: var(--body-color);
    border: .115em solid #000;
}

.btn-footer,
.btn-footer:visited {
    color: #fff;
    background-color: #aa8aec;
}

.btn-footer:hover {
    background-color: var(--main-color);
}

/* DISABLED INPUTS */
.btn:disabled,
.btn:disabled:hover,
button:disabled,
input[type=text]:disabled,
input[type=email]:disabled,
input[type=tel]:disabled,
select:disabled,
textarea:disabled,
input[type=checkbox]:disabled,
input[type=radio]:disabled,
button:disabled:hover,
input[type=text]:disabled:hover,
input[type=email]:disabled:hover,
input[type=tel]:disabled:hover,
select:disabled:hover,
textarea:disabled:hover,
input[type=checkbox]:disabled:hover,
input[type=radio]:disabled:hover {
    background-color: #808080;
    border: none;
    color: #303030;
    cursor: not-allowed;
}

.form-disabled {
    padding-top: 2em;
    
}

.form-disabled > p {
    font-size: .9em;
    font-weight: var(--fw-semibold);
} 

.form-disabled > p:not(:last-child) {
    padding-bottom: .8em;
}

small {
    font-size: .7em;
    font-weight: var(--fw-light);
}

button, input, select, textarea {
    font-family: inherit;
    font-size: .9em;
}

.text-icon {
    height: 1em;
}

/* Footer */
.top-shadow {
    position: relative;
    padding-top: 3em;
}

.top-shadow::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.footer-content {
    padding-top: 1.5em;
    padding-bottom: 2em;
}

.footer-content h3 {
    font-size: clamp(1.2rem, 1.1636rem + 0.1818vw, 1.3rem);
    font-weight: var(--fw-semibold);
}

.footer-logo {
    display: flex;
    padding-bottom: 1em;
}

.footer-logo > img {
    width: 75px;
}

.footer-logo > p {
    font-size: clamp(1rem, 0.9636rem + 0.1818vw, 1.1rem);
    font-weight: var(--fw-regular);
    align-self: flex-end;
}

.footer-cta {
    position: relative;
    padding-bottom: 2em;
}

.bg-feather-footer {
    position: absolute;
    height: 40%;
    rotate: -80deg;
    right: -3em;
    top: 6em;
    opacity: var(--bg-feather-opacity);
}

.footer-cta-text {
    font-size: .8rem;
    font-weight: var(--fw-light);
    padding-bottom: 1em;
}

.footer-cta-text > em {
    font-weight: var(--fw-regular);
}

.footer-cta-section > h4 {
    font-size: 1rem;
    font-weight: var(--fw-regular);
    padding-bottom: .5em;
}

.footer-cta-section > ul {
    list-style: none;
    font-size: .8rem;
}

.icon-list-item {
    display: flex;
    align-items: center;
    gap: .5em;
    padding-bottom: .75em;
}

.icon-list-item > span {
    align-self: center;
}

.footer-contact-link,
.footer-contact-link:visited {
    color: #000;
    font-weight: var(--fw-light);
}

.footer-cta > ul:not(:last-child) {
    padding-bottom: 1em;
}

.footer-contact > h3 {
    padding-bottom: .5em;
}

.social-icon {
    width: 24px;
}

.footer-contact > h3 {
    font-weight: var(--fw-light);
    padding-bottom: 1.25em;
}

.footer-bottom {
    background-color: var(--body-color);
    padding: 1em 0 1em 0;
}

.footer-bottom > p {
    text-align: center;
    background-color: var(--body-color);
    font-size: .75rem;
}

@media screen and (min-width: 600px) {
    .footer-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding-bottom: 1em;
        grid-gap: 0 2em;
    }

    .footer-logo {
        display: block;
        padding: 0;
        grid-column: 1 / 2;
    }

    .footer-cta {
        grid-column: 2 / 5;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 0 1em;
        padding: 0;
    }

    .footer-cta-section-header {
        grid-column: 1 / -1;
    }

    .footer-contact {
        grid-column: 5 / -1;
    }
}

/* Global inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    border: none;
    padding: .5em .5em;
    box-shadow: 0 0 0 1px var(--input-border-color);
    border-radius: .5em;
    background-color: #fff;
    transition:
    box-shadow 250ms ease,
    border-radius 250ms ease,
    background-color 250ms ease;
    font-weight: var(--fw-light);
}

/* Global checkbox and radio */
input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    background-color: #fff;
    cursor: pointer;
    margin-left: auto;
}

/* All hovers */
input[type="checkbox"]:hover,
input[type="radio"]:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
textarea:hover {
    background-color: var(--body-color);
}

/* Input focuses */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 3px var(--input-border-color);
    border-radius: .1em;
}

/* Checkbox and radio focuses */
input[type="checkbox"]:focus-visible,
input[type="radio"]:focus-visible {
    outline: .3em solid var(--input-border-color);
}

/* Checkbox */
input[type="checkbox"],
input[type="radio"] {
    position: relative;
    width: 1.4rem;
    height: 1.4rem;
    box-shadow: 0 0 0 .1em var(--input-border-color);
    border-radius: .3em;
    transition:
    box-shadow 250ms ease,
    border-radius 250ms ease,
    background-color 250ms ease;
}

input[type="radio"] {
    border-radius: 50%;
}

/* Checkbox feather */
input[type="checkbox"]:before,
input[type="radio"]:before {
    content: "";
    background-image: url("Images/Icons/korppi_sulka_transparent.png");
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    width: 2.15rem;
    height: 2.15rem;
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
    transition: opacity 500ms ease;
}

/* Checkbox checked */
input[type="checkbox"]:checked {
    box-shadow: 0 0 0 .2em var(--input-border-color);
    border-radius: .1em;
}

input[type="radio"]:checked {
    box-shadow: 0 0 0 .2em var(--input-border-color);
}

/* Checkbox checked feather */
input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
    visibility: visible;
    opacity: 100%;
}

form > .btn {
    width: 70%;
}

.form-section {
    padding-bottom: 1em;
    max-width: 70%;
}

.form-section > label,
.form-section > fieldset > legend {
    font-size: clamp(0.85rem, 0.8218rem + 0.1409vw, 0.9275rem);
    padding-bottom: .8em;
}

.form-section > label.gdpr {
    font-size: clamp(0.65rem, 0.4500rem + 0.4000vw, 0.75rem);
    font-weight: var(--fw-light);
}

.form-section > label > abbr {
    text-decoration: none;
}

.form-section > fieldset {
    border: none;
}

.form-section > fieldset > ul {
    list-style: none;
    font-size: clamp(0.75rem, 0.7218rem + 0.1409vw, 0.8275rem);
    font-weight: var(--fw-light);
}

.form-section > fieldset > ul > li {
    display: flex;
}

.form-section > fieldset > ul > li:not(:last-child) {
    padding-bottom: 1em;
}

.form-gdpr {
    font-size: clamp(0.75rem, 0.7218rem + 0.1409vw, 0.8275rem);
}

.form-gdpr > ul {
    display: flex;
    list-style: none;
}

.form-gdpr > ul > li:nth-of-type(2) {
    margin-left: auto;
}

/* Helper classes */
.mobile-hidden {
    display: none;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.overflow-container {
    overflow: hidden;
}

.nav-height-fix {
    margin-top: var(--nav-height-fix);
}

.container-fluid {
    width: 100%;
}

.bg-illustration {
    position: absolute;
    opacity: 40%;
    z-index: -1;
}

.bg-white {
    background-color: #FFF;
}

.flex-container {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.overflow-h {
    overflow: hidden;
}

/* Text effects */

.underline-effect {
    position: relative;
    z-index: 1;
}

.underline-effect::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: calc(100% + 10px);
    height: .35em;
    background-color: var(--emphasis-color);
    bottom: 2px;
    left: 0;
    opacity: 75%;
}

.text-end-effect {
    position: relative;
}

.text-end-effect::after {
    content: "";
    position: absolute;
    height: 1em;
    width: .4em;
    background-color: var(--emphasis-color);
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    margin-left: .25em;
    opacity: 75%;
}

.text-left-effect {
    position: relative;
}

/* Navigation */
header {
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 99;
}

.navbar {
    width: 100%;
    display: flex;
    padding: .5em 0 .5em 0;
    position: relative;
}

.nav-logo {
    height: 64px;
}

.nav-content {
    width: 100%;
}

.nav-items.show {
    max-height: 200px;
    padding: .75em 0 .75em 0;
}

.nav-items {
    display: block;
    list-style: none;
    position: fixed;
    top: 5em;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
    text-align: center;
    z-index: 99;
    max-height: 0;
    transition: all 500ms ease-out;
    overflow: hidden;
}

.nav-items > li {
    margin-bottom: .5em;
}

.nav-items > li:hover {
    background-color: var(--input-border-color);
}

.nav-link:hover {
    color: #000;
}

.nav-items > li.active:hover {
    background-color: var(--emphasis-color);
}

.nav-link,
.nav-link:visited {
    text-decoration: none;
    color: #fff;
}

.nav-link.active {
    color: #000;
    vertical-align: sub;
}

li.active {
    background-color: var(--btn-main-hover-color);
}

.nav-menu {
    position: relative;
    display: block;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
    align-self: center;
    margin-left: auto;
}

.nav-menu > span {
    position: relative;
    display: block;
    width: 2rem;
    height: .25rem;
    margin-bottom: .375rem;
    background-color: var(--main-color);
    border-radius: .5rem;
    transform-origin: 0 0;
    transition: 250ms;
}

.nav-menu.clicked > span:nth-child(1) {
    rotate: 45deg;
}

.nav-menu.clicked > span:nth-child(2) {
    opacity: 0;
    transform: translateX(-2.5rem);
}

.nav-menu.clicked > span:nth-child(3) {
    transform: translateX(-.25rem);
    rotate: -45deg;
}

@media screen and (min-width: 600px) {
    .nav-menu {
        display: none;
    }

    .nav-items {
        display: flex;
        position: static;
        max-height: unset;
        text-align: unset;
        background-color: unset;
        overflow: auto;
        align-items: center;
        justify-content: flex-end;
        transition: none;
    }

    .nav-link,
    .nav-link:visited {
        color: #000;
    }
    
    .nav-link:hover {
        color: var(--main-color);
    }

    .nav-link.active {
        color: var(--main-color);
        vertical-align: unset;
    }

    .nav-link.active:hover {
        color: var(--nav-active-link-hover);
    }

    .nav-link:focus-visible {
        outline: .2em solid var(--input-border-color);
        border-radius: .1em;
    }

    .nav-items > li {
        margin-bottom: 0;
        background-color: unset;
    }

    .nav-items > li:hover,
    .nav-items > li.active:hover {
        background-color: unset;
    }

    .nav-items > li:not(:last-child) {
        margin-right: 2em;
    }
}

/* Hero */
.hero {
    padding-top: 1.25em;
    padding-bottom: 5em;
}

.blob-no-ring {
    min-width: 100px;
    height: 70px;
    right: -1em;
    rotate: 90deg;
}

.blob-ring {
    height: 100px;
    right: -5em;
    bottom: 5em;
    rotate: 100deg;
}

.hero-text h1 {
    font-size: clamp(0.938rem, 0.8427rem + 0.4764vw, 1.2rem);
    font-weight: var(--fw-regular);
    padding-bottom: .25em;
}

.hero-text h2 {
    font-size: clamp(2rem, 1.2727rem + 3.6364vw, 4rem);
    font-weight: var(--fw-bold);
    padding-bottom: .3em;
    width: fit-content;
}

.hero-text:first-child p {
    padding-bottom: 1em;
}

.hero-text p {
    font-size: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
    font-weight: var(--fw-light);
}

.hero-buttons {
    display: flex;
    padding-top: 2em;
    padding-bottom: 1.5em;
}

.hero-buttons > .btn-wrapper:nth-child(1) {
    margin-right: 1em;
}

.hero-read-more {
    width: fit-content;
    position: relative;
    font-size: .75rem;
}

.hero-read-more > p {
    font-size: clamp(0.8rem, 0.7636rem + 0.1818vw, 0.9rem);
}

.hero-arrow {
    position: absolute;
    top: .4em;
    right: -5.75em;
    width: 7.5em;
    rotate: -20deg;
}

@media screen and (min-width: 1000px) {
    .hero-arrow {
        display: none;
    }
}

.hero-contact {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 70%;
    min-height: 3.5em;
    align-items: center;
}

.hero-contact-list {
    list-style: none;
    width: 85%;
    justify-content: space-evenly;
    color: #fff;
    font-size: clamp(0.8rem, 0.4000rem + 0.8000vw, 1rem);
    margin: 0 1em 0 auto;
}

.hero-contact-list > li {
    display: flex;
    align-items: center;
    gap: .5em;
}

.hero-contact-list > li:not(:last-child) {
    margin-right: 4em;
}

.hero-contact-list > li > a,
.hero-contact-list > li > a:visited{
    color: #fff;
}

.hero-contact-list > li > a:hover {
    color: var(--emphasis-color);
}

@media screen and (min-width: 800px) {
    /* Global */
    .mobile-hidden {
        display: block;
    }

    .text-left-effect:before{
        content: "";
        position: absolute;
        width: .2em;
        height: 90%;
        left: -.9em;
        top: 1.25rem;
        background-color: var(--emphasis-color);
    }

    .main-content {
        display: flex;
        flex-direction: column;
    }

    .main-content-illustration {
        align-self: center;
        max-width: 60%;
        padding-top: 2em;
    }

    .hero-contact:before {
        content: "";
        position: absolute;
        background-image: url("Images/Icons/Contact/contact_bg.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100%;
        min-width: 100%;
        right: 0;
        top: 0;
        z-index: -1;
    }

    /* Hero */
    .blob-ring,
    .blob-no-ring {
        display: none;
    }

    .hero-wrapper {
        display: flex;
    }

    .hero-text {
        flex-basis: 100%;
    }

    .hero-illustration {
        align-self: center;
        flex-basis: 100%;
    }

    .hero-illustration > img {
        max-width: 100%;
    }
}

/* Missio */
.missio {
    position: relative;
    padding-bottom: 4em;
}

.missio h2 {
    font-size: clamp(1.5rem, 1.3182rem + 0.9091vw, 2rem);
    font-weight: var(--fw-regular);
    padding-bottom: .25em;
}

.missio-text > .missio-paragraphs > p:not(:first-of-type){
    padding-top: .75em;
}

.korvu {
    position: absolute;
    top: -6em;
    right: .5em;
    height: 7.8em;
    opacity: 40%;
}

.bg-feather-missio {
    opacity: var(--bg-feather-opacity);
    bottom: -1em;
    width: 150px;
    rotate: 100deg;
    right: -1em;
}

@media screen and (min-width: 800px) {
    .missio-wrapper {
        gap: 8em;
    }

    .missio-text {
        flex-basis: 100%;
        padding-left: 1em;
    }

    .missio-text-end-effect {
        display: none;
    }

    .missio-illustration {
        width: 100%;
        flex-basis: 30%;
        align-self: center;
        justify-self: center;
    }

    .korvu {
        position: static;
        opacity: 100%;
        width: 100%;
        height: 100%;
    }

    .bg-feather-missio {
        bottom: 2em;
    }
}

/* Value cards */
.value-card {
    position: relative;
}

.card-row:first-of-type {
    padding-bottom: 5em;
}

.value-card:first-of-type {
    padding-bottom: 5em;
}

.value-card-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}

.value-card-header h2 {
    font-size: clamp(1.25rem, 1.1591rem + 0.4545vw, 1.5rem);
    font-weight: var(--fw-semibold);
}

.value-card-icon {
    position: absolute;
    width: 75px;
    opacity: 12%;
    top: -2.5em;
}

.value-card-text {
    position: relative;
    padding-bottom: 2em;
}

.value-card-text::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2em;
    bottom: 1em;
    background-image: url("Images/Stock/geometry_bg/gm_bg_purple.jpg");
    background-size: cover;
    background-position: bottom;
    opacity: 40%;
}

.value-card-list {
    font-size: clamp(0.75rem, 0.7318rem + 0.0909vw, 0.8rem);
}

.value-card-list > ul {
    list-style-image: url("Images/Icons/korppi_sulka_list_bullet.png");
    padding-left: 2em;
    padding-right: 1em;
}

.value-card-list > ul > li {
    padding-bottom: .75em;
    padding-left: .75em;
}

@media screen and (min-width: 800px) {
    .card-row {
        display: flex;
        gap: 2em;
    }

    .card-row:first-of-type {
        padding-bottom: 3em;
    }

    .value-card {
        flex-basis: 100%;
        background-image: url("Images/Stock/fluid_bg/value_card_bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, .25);
        padding-bottom: 2em;
        transition:
        scale 250ms ease,
        box-shadow 250ms ease;
    }

    .value-card:hover {
        scale: 1.01;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
    }

    .value-card:first-of-type {
        padding-bottom: 2em;
    }

    .value-card:before {
        content: "";
        position: absolute;
        width: .5em;
        height: 100%;
        background-image: url("Images/Stock/geometry_bg/gm_bg_purple.jpg");
        background-origin: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        rotate: 180deg;
        background-position-x: center;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .value-card-text::after {
        content: none;
    }

    .value-card-text {
        padding-bottom: 2em;
        padding-right: 1em;
    }

    .value-card-icon {
        position: static;
        float: right;
        width: 6em;
        margin-right: .5em;
        opacity: 8%;
    }

    .value-card-header,
    .value-card-text,
    .value-card-list {
        padding-left: var(--value-card-padding);
    }

    .value-card-header {
        display: block;
        padding-top: 1em;
        padding-bottom: 0;
    }
}

/* Työntekijät.html */

/* Main text */
.flex-container-2-col {
    margin-top: var(--nav-height-fix);
}

.main-content > h1, h2 {
    padding-bottom: .5em;
}

.main-content > h1 {
    font-size: clamp(1.8rem, 1.7273rem + 0.3636vw, 2rem);
}

.main-content > h2 {
    font-weight: var(--fw-regular);
    padding-bottom: .5em;
    font-size: clamp(1.4rem, 1.3273rem + 0.3636vw, 1.6rem);
}

.main-content > p:not(:last-of-type) {
    padding-bottom: .75em;
}

/*.main-content > p:first-of-type {
    padding-bottom: 1.75em;
}*/

.bg-blob-employee {
    opacity: 15%;
    width: 300px;
    rotate: 120deg;
    top: -7em;
    right: 4em;
    z-index: -1;
}

/* Form */
.form-container {
    padding-top: 1.5em;
}

.form-container > section > h2 {
    font-size: clamp(1rem, 0.8909rem + 0.5455vw, 1.3rem);
    padding-bottom: 1em;
    font-weight: var(--fw-semibold);
}

@media screen and (min-width: 800px) {
    .flex-container-2-col {
        display: flex;
        gap: 4em;
        padding-top: 1em;
    }
    
    .main-section {
        order: 2;
        flex-basis: 100%;
    }

    .form-container {
        order: 1;
        flex-basis: 50%;
        max-width: 23em;
        padding-top: 0;
    }

    .form-section {
        max-width: 100%;
    }
}

/* yrityksille.html */

/* Main text */
.bg-blob-company {
    opacity: 15%;
    width: 300px;
    rotate: 90deg;
    top: -3em;
    right: -3em;
}

/* yhteydenotto.html */

/* Main text */
.bg-blob-contact {
    opacity: 15%;
    width: 100%;
    top: -1em;
    left: 0;
}

.main-section-contact {
    display: flex;
    gap: 1.5em;
}

.main-section-contact > .main-content {
    flex-basis: 100%;
}

.korvu-question-illustration {
    flex-basis: 60%;
}

.korvu-question-illustration > img {
    width: 100%;
}

/* Tietosuojaseloste */
.gdpr-content > h1 {
    margin-left: .4em;
}

.gdpr-list {
    margin-left: 2em;
}

.gdpr-list-item::marker {
    color: var(--main-color);
    font-weight: var(--fw-bold);
    font-size: 1em;
}

.gdpr-list-item:not(:last-child) {
    margin-bottom: 2em;
}

.gdpr-list-item > ul {
    list-style: none;
    font-size: clamp(0.8rem, 0.7636rem + 0.1818vw, 0.9rem)
}

.gdpr-list-item > ul > li:not(:last-child) {
    margin-bottom: .3em;
}

.gdpr-list-item > h2 {
    font-size: clamp(1.2rem, 1.1273rem + 0.3636vw, 1.4rem);
    font-weight: var(--fw-regular);
}

.gdpr-list-item > h3 {
    font-size: clamp(1.2rem, 1.2727rem + -0.3636vw, 1rem);
    font-weight: var(--fw-light);
    margin-bottom: .75em;
}

/* Form errors and inputs */
.municipality-help {
    color: #5a5a5a;
    font-size: .7em;
    padding-bottom: .5rem;
}

.textarea-counter {
    color: #5a5a5a;
    font-size: .7em;
    padding-top: .5rem;
    display: flex;
    justify-content: end;
}

input.error,
textarea.error {
    box-shadow: 0 0 0 1px var(--error-color);
}

.error-notification {
    padding-top: 1em;
    color: var(--error-color);
    font-size: .75rem;
}

.input-with-add-wrapper {
    display: flex;
    position: relative;
}

.btn-add {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    cursor: pointer;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    font-size: 1.5rem;
    padding: 0 .6rem;
    background-color: var(--main-color);
    color: #fff;
}

.input-with-add {
    flex-grow: 2;
    width: 100%;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem .25rem;
    margin-bottom: .75rem;
}

.tag {
    position: relative;
    font-size: .65rem;
    background-color: #8F59FA;
    color: #fff;
    border-radius: .5rem;
    padding: .5em 2em .5em .5em;
}

.tag-x {
    position: absolute;
    font-size: 1.5em;
    right: .5em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}